<img src="https://i.esdrop.com/d/7o0dj05m8rnz/JNGCMedl18.png" width="45%">

# Reliability Analysis

### Cronbach's α

|Cronbach's α| | 
|:---|:---|
| 0.90 <= α        |Excellent|
| 0.80 <= α < 0.90 |Good|
| 0.70 <= α < 0.80 |Acceptable|
| 0.60 <= α < 0.70 |Questionable|
| 0.50 <= α < 0.60 |Poor|
|         α < 0.50 |Unacceptable|

---

## Import Packages
- Visual Python: Data Analysis > Import

In [1]:
# Visual Python: Data Analysis > Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## 1 Reliability Analysis

In [2]:
# Visual Python: Data Analysis > File
df = pd.read_csv('./data/06_1_신뢰도분석.csv')
df

     직무몰입1  직무몰입2  직무몰입3  직무몰입4  직무몰입5  직무몰입6  직무몰입7
0      6.0    6.0    6.0    6.0    6.0    6.0    6.0
1      4.0    2.0    3.0    3.0    2.0    3.0    4.0
2      3.0    6.0    4.0    1.0    5.0    2.0    5.0
3      4.0    3.0    3.0    3.0    5.0    1.0    2.0
4      0.0    1.0    1.0    1.0    1.0    6.0    4.0
..     ...    ...    ...    ...    ...    ...    ...
143    3.0    5.0    5.0    5.0    5.0    1.0    2.0
144    3.0    2.0    2.0    2.0    2.0    2.0    3.0
145    3.0    4.0    0.0    0.0    0.0    6.0    6.0
146    3.0    4.0    3.0    3.0    2.0    4.0    3.0
147    0.0    2.0    0.0    4.0    1.0    2.0    3.0

[148 rows x 7 columns]

In [3]:
# Visual Python: Reliability Analysis
def vp_cronbach_alpha(data):
    _corr = data.corr()
    _N = data.shape[1]
    _rs = np.array([])
    for i, col in enumerate(_corr.columns):
        _sum = _corr[col][i+1:].values
        _rs  = np.append(_sum, _rs)
    _mean = np.mean(_rs)
    
    return (_N*_mean)/(1+(_N-1)*_mean)

In [4]:
# Visual Python: Reliability Analysis
vp_df = df.dropna().copy()

# Cronbach alpha
from IPython.display import display, Markdown
display(Markdown('### Cronbach alpha'))
display(pd.DataFrame({'Cronbach alpha':vp_cronbach_alpha(vp_df), 'N':vp_df.shape[1]},index=['Reliability statistics']).round(3))

# Item-Total Statistics
_dfr = pd.DataFrame()
for i, col in enumerate(vp_df.columns):
    _sr = vp_df.drop(col,axis=1).sum(axis=1)
    _df_t = pd.DataFrame(data={'Scale Mean if Item Deleted':_sr.mean(),'Scale Variance if Item Deleted':_sr.var(),
                               'Corrected Item-Total Correlation':_sr.corr(vp_df[col]),
                               'Cronbach Alpha if Item Deleted':vp_cronbach_alpha(vp_df.drop(col,axis=1))}, index=[col])
    _dfr = pd.concat([_dfr, _df_t])
display(Markdown('### Item-Total Statistics'))
display(_dfr.round(3))

### Cronbach alpha

                        Cronbach alpha  N
Reliability statistics           0.714  7

### Item-Total Statistics

,Scale Mean if Item Deleted,Scale Variance if Item Deleted,Corrected Item-Total Correlation,Cronbach Alpha if Item Deleted
직무몰입1,19.932,29.383,0.622,0.629
직무몰입2,20.047,29.678,0.549,0.648
직무몰입3,19.723,29.317,0.630,0.626
직무몰입4,19.730,31.355,0.516,0.657
직무몰입5,19.689,30.365,0.591,0.637
직무몰입6,19.730,37.722,0.091,0.758
직무몰입7,19.595,38.773,0.056,0.766

---

In [5]:
# End of file